numpy
scipy
wfdb
pandas
zarr
ipykernel
pillow
scikit-learn
openpyxl

 --extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchmetrics
tqdm
pyyaml
requests
physionet

pytest
#icd
icdmap
icdlookup